<ion-header>
  <ion-toolbar>
    <ion-title>Lista de noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- News articles list -->
    <ion-item [routerLink]="['/list-news', news.id ]" routerDirection="forward" *ngFor="let news of News?.page.items">
      <ion-thumbnail slot="start">
        <ion-img *ngIf="news.image" [src]="news.image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2 margin-bottom>{{ news.title }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
