<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img *ngIf="News[0]?.image" [src]=" News[0]?.image " alt="{{ News[0]?.title }}">
    <ion-card-header>
      <ion-card-title> {{ News[0]?.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="News[0]?.text"></div>
      <ion-button href="{{ News[0]?.htmlShortUrl }}">Ver en el navegador</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

